@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,700&subset=latin,latin-ext);
@import 'vars';
@import 'anim';

html, body{
  font-family: 'Raleway', 'Helvetica', Arial, sans-serif;
  font-size:17px;
  -webkit-font-smoothing: subpixel-antialiased!important;
  color:$font-color;
  font-weight:400;
  height:100%;
  max-width: 100%;
  min-width: 320px;
  background:$dark-bg;
  margin:0;
  opacity: 1;

  @media (max-width: 480px){
    font-size: 15px;
  }
}

body{
  overflow-x: hidden;
}

*{
  box-sizing: border-box;
  color:$font-color;
}

#page-content{
  margin:0;
  padding:0;
}

p{
  line-height: 32px;
  font-weight:normal;
  letter-spacing:0.05px;
  margin: 0 auto 28px auto;
  text-align: left;

  &.leg{
    text-align: left;
    font-size: .8rem;
    margin:1rem 0;
  }

  @media (max-width: 480px){
    font-size: 1rem;
    line-height: 27px;
    text-align: left;
    margin: 0 auto 21px auto;
  }
}
.centered{
  text-align: center;
}
.left{
  text-align: left;
}



.bg-image{
  background:rgba(120,120,120,1) url('../images/justica_b.jpg') no-repeat center 160px;
	background-size: cover;
	background-attachment: fixed;
  width:100%;
  height:100%;
  z-index:0;
  position: fixed;
  opacity:0.2;
}

a, a:active, a:visited{
  text-decoration:none;
  outline:none;
  font-size:17px;
  font-weight: 700;
  color: $highlight-color;

  transition: color 0.4s;
}

b{
  font-weight: 700;
}

.text-block{
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto .5rem auto;
  /*padding: 15px;
  font-size: 1.4rem;
  background: rgba(0,0,0,0.4);*/

  &.eg{
    visibility: hidden;

    &.active{
      visibility: visible;
    }
  }

  p{
    width: calc(100%);
    text-align: left;
    margin: 0;
    display:none;

    &.active{
      display: block;
    }
  }

  &.min-height{
    p{
      min-height: 3.8rem;
    }
  }
}

.chart-block{
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 1rem auto;
  padding: 10px 15px;

  &.no-padding{
    padding: 0;
    margin: 1rem auto;
  }
}



.half-block{
  position: relative;
  width: calc((100% - 30px)/2);
  display: inline-block;

  &:first-of-type{
    margin-right: 30px;
  }

  @media (max-width: 680px){
    width: 100%;
    margin-right: 0;
  }
}
.third-block{
  position: relative;
  width: calc((100% - 50px)/3);
  display: inline-block;
  margin-right: 25px;
  padding: 0 10px;

  &:last-of-type{
    margin-right: 0;
  }

  @media (max-width: 720px){
    margin-right: 0px;
    width: 100%;
    width: calc((100% - 0px));
  }

  @media (max-width: 680px){
    width: 100%;
    margin: 1rem 0 0 0;
    padding: 0 15px;
    display: block;
  }
}

.chart-block-large{
  position: relative;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 30px 15px;
}

.chart-block-wide{
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;

  h2,h3,p{
    padding: 0 0;
  }
}

pre{
  font-size:17px;
  color:rgba(0,0,0,0.8);
  tab-size: 3;

  color: #333;
  margin:24px auto;
  width: calc(100% - 2rem);
  max-width:740px;
  padding: 0 1rem;
  line-height:28px;
  letter-spacing:0.03rem;
  font-weight:normal;

  font-family: Monaco, monospace;
  font-size: 0.85rem;
  overflow-x: scroll;
  /*border: 1px solid #fff;*/
  word-break: normal;
  background: rgba(204,157,143,0.15);
  color: #000;

  @media (max-width: 480px){
    font-size: 15px;
    line-height: 21px;
    width: 100%;
  }

  code{
    display: block;
  }
}

pre span{
  opacity: 0.45;
}

video{
  max-width: 100%;
  max-width: 800px;
  padding-left: 15px;
  padding-right: 15px;
  height: auto;
}

hr{
  border:none;
  border-bottom: 1px solid $highlight-color;
  max-width: 100px;
  margin: 21px auto;
}

h2, h3{
  display: block;
  position: relative;
  text-align: left;
  font-size: 1.8rem;
  /*color: $highlight-color;*/
  line-height: 1.5;
  letter-spacing: 6px;
  width: 100%;
  max-width: 800px;
  margin: 0rem auto 2rem auto;
  position: relative;
  font-weight: 300;
  padding-top: 1.5rem;
  //text-transform: uppercase;
  letter-spacing:0.02em;

  span.hat{
    color: $highlight-color;
    font-size: 16px;
    display: block;
    letter-spacing: 0.01em;
    margin-bottom: 5px;
  }

  @media (max-width: 480px){
    font-size: 1.4rem;
  }
}

h3{
  font-size: 1.6rem;
  font-weight: 300;
  margin: 0 auto 2rem auto;

  .selector-group{
    width: 180px;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    user-select: none;
    padding-top: 1.5rem;

    @media (max-width: 480px){
      padding-top: .5rem;
    }

    .select{
      width: calc((100% - 20px)/2);
      margin-right:0;
      background: transparent;
      float: right;
      border: 0;

      &:first-of-type{
        margin-left:20px;
      }
    }

    &.active{
      display: block;
    }
  }


  @media (max-width: 780px){
    font-size: 1.4rem;
    padding-right: 180px;
  }
  @media (max-width: 480px){
    font-size: 1.4rem;
    padding-right: 0px;

    .selector-group{
      display: block;
      position: relative;
      float: none;
      width: 100%;
      padding: 1rem 0 3rem 0;
    }
  }
}

h4{
  font-weight:300;
  font-size: 1rem;
  display: inline-block;
  margin: 0 25px 0 0;

  @media (max-width: 480px){
    display: block;
    margin: 0 25px 1rem 0;
  }
}

#root, #main, #page-content{
  width: 100%;
  height: 100%;
  position: relative;
}

#main{
  padding:0;

  @media (max-width: 480px){
    padding: 0px;
  }
}

.video-container{
  width: 100%;
  position:relative;
	padding-bottom:56.25%;
	padding-top:0px;
	height:0;
	overflow:hidden;
  margin: 0px auto;
}
.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

////**////////
canvas{
  width: 100%;
}
svg{
  width:100%;

  #striped-b{
    polygon{
      fill:#00E1FF;
    }
    overflow: hidden;
  }

  #diagonalF{
    line{
      stroke:#FFF200;
    }
  }
  #diagonalM{
    line{
      stroke:#00E1FF;
    }
  }

  rect{
    cursor: pointer;
  }
}
.genderGraphM{
   fill:url("#diagonalM");
   // fill: $color2;
   stroke-width:5;
}
.genderGraphF{
   fill:url("#diagonalF");
   // fill: $color1;
   stroke-width:5;
}

.intro-block{
  margin: 0 auto;
  max-width: 800px;

  &.padded{
    padding: 0 15px;
  }
}
#gender-intro{
  position: relative;

  p{
    @media (max-width: 480px){
      min-height: 70px;
    }
  }
}

section{
  position:relative;
  display: block;
  background: transparent;
	width:100%;
	min-height:480px;
	z-index:0;
  margin: 0;
  padding: 2rem 0;

  .svg-container{
    width:100%;
    /*height: 100%;*/
    position: relative;
    overflow: hidden;

    &.no-scroll{
      overflow: hidden;
      overflow-x:hidden;
    }
    &.centered{
      text-align: center;
    }

    @media (max-width: 768px){
      overflow-x:scroll;

      &.no-scroll{
        overflow: hidden;
        overflow-x:hidden;
      }
    }
  }

  svg {
    background: transparent;
    width:100%;
  	/*height:100%;*/

    &#svg-gender{
      width:100%;
      min-width: 768px;
  	  height:70%;
      min-height:480px;
      position: relative;

      @media (max-width: 768px){
    	  height:50%;
        min-height:300px;
      }

      .fig{
        opacity: 0;
        &.active{
          opacity: 1;
        }
      }

      .figNumber{
        font-size: 1.2rem;
        font-weight: 400;
        font-family: Helvetica;
        transition: font-size .3s;
        margin-top:-5px;

        &.figF{
          fill: $color1;
          /*alignment-baseline: after-edge;*/
        }

        &.figM{
          fill: $color2;
          /*alignment-baseline: before-edge;*/
        }

        &.active{
          font-size: 2.2rem;
          font-weight: 700;
        }

        &.span{
          font-size: .8rem;
          font-family: "Raleway", Helvetica, sans-serif;
          visibility: hidden;
          &.active{
            visibility: visible;
          }
        }
      }

      .figTag{
        fill: $clear-color;
      }
      .figBullet{
        fill: $clear-color;
        opacity: 0.75;
      }
      .figLine{
        stroke: $clear-color;
        stroke-width:1;
        opacity: 0.5;
      }
      .figLabel{
        font-size:11px;
        font-weight: 400;
      }
    }
  }

	@media (max-width: 480px){
    padding: 0;
  }
}

a{
  cursor: pointer;

  &:hover{
    opacity: 0.8;
  }
}

.dot-stepper{
  width: auto;
  max-width: 320px;
  margin: 0 0 1rem 0;
  display: block;

  list-style-type: none;
  text-align: left;
  z-index: 100;

  li{
    width: 24px;
    height: 24px;
    display: inline-block;
    font-size:0;
    border-radius: 4px;
    list-style-type: none;
    margin: 10px 10px 10px 0;
    cursor: pointer;

    &.active a{
      background: $color1;
    }

    &:hover a{
      opacity: 0.6;
    }

    a{
      background: rgba(255,255,255,0.3);
      width: 8px;
      height: 8px;
      border-radius: 2px;
      display: block;
      margin:10px auto;

      &.arrow-next, &.arrow-last{
        display: block;
        width: 24px;
        height: 24px;
        margin:0 auto;

        &:hover{
          background-color: rgba(255,255,255,0.35);
          cursor: pointer;
        }
      }
    }

    .arrow-next, .arrow-last{
      position: relative;
      width:40px;
      height: 40px;
      border-radius: 6px;
      background: rgba(255,255,255,0.15) url('../images/arrow-right.svg') no-repeat center center;
      background-size: 10px 10px;
      display: block;
    }

    .arrow-last{
      background-image: url('../images/arrow-left.svg');
    }
  }
}
.gb{ fill: #FFFFFF; fill-opacity:.4 }
.gn{ fill: #D33145; fill-opacity:.9 }
.gi{ fill: #5AB755; fill-opacity:.9 }
.ga{ fill: #F7D841; fill-opacity:.9 }
.g-dashed {
  background-image: url(#diagBar);
}

.title-desc{
  font-weight:700;
  font-size: 1.2rem;
  display: inline-block;
  margin: 0 25px 0 0;

  &.block{
    display: block;
    margin-bottom: 1rem;
  }

  @media (max-width: 480px){
    display: block;
    margin: 0 25px 1rem 0;
  }
}

.legenda{
  display: none;
  list-style-type: none;
  text-align: left;
  line-height:20px;
  margin: 1rem auto 1.4rem;

  transition: opacity 0.5s;

  &.centered{
    text-align: center;
  }
  &.active{
    display: block;
  }

  @media (max-width: 480px){
    margin: 1rem auto 1.4rem;
  }

  li{
    list-style-type: none;
    display: inline-block;
    font-weight:300;
    font-size:.75rem;
    line-height: 1.7rem;
    margin: 0 14px 0 0;

    span.sq{
      display: inline-block;
      width: 12px;
      height: 12px;
      margin: 0 1px 0 0;
      border-radius:3px;
      overflow: hidden;
      padding:0;

      svg{
        display:block;
        top:0;
        margin:0;

        rect.grp-leg{
          visibility: hidden;

          &.active{
            visibility: visible;
          }
        }
      }

      @media (max-width: 480px){
        /*width: 10px;
        height: 10px;*/
        border-radius:2px;
      }

      &.gb{ background: #FFFFFF; opacity:.4 }
      &.gn{ background: #D33145; opacity:.9 }
      &.gi{ background: #5AB755; opacity:.9 }
      &.ga{ background: #F7D841; opacity:.9 }

      &.bdg-color1{ background: #F7D841 }
      &.bdg-color2{ background: #1C86A3 }
      &.bdg-color3{ background: #5AB755 }
      &.bdg-color4{ background: #D33145 }
      &.bdg-color5{ background: #AE397C }

      &.proj{
        border: 1px dashed #dedede;
      }
    }
  }
}

#gender-race-labels {
  display: flex;
  flex-wrap: wrap;

  > div {
    flex: 1 0 50%;
    text-align: left;
    font-weight:300;
    font-size:.9rem;
    line-height: 1.7rem;

    &.right{
      text-align: right;
    }
  }
}

.leg-text{
  font-size: .8rem;
  margin: 1rem auto;
  width: 100%;
  max-width: 800px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
}

.pulse{
  animation: pulse 1s infinite;
}

.axis-title{
  fill: #fff;
  font-size: 11px;
}
// egress charts
#svg-egress,#svg-egress-2{
  margin-top: 1rem;
  g.axis{
    text{
      font-size: 11px;
    }
    line, path{
      opacity: 0.6;
    }
    &.axis-x-eg{
      line, path{
        opacity: 0.4;
        stroke: $color1;
      }

      text{
        fill: $color1;
        opacity: 0.3;
      }
    }
    &.axis-y, &.axis-y-2{
      path{
        /*display: none;*/
      }
      line{
        /*display: none;*/
        stroke: #FFF;
      }
      text{
        font-size: .6rem;
        fill: #FFF;
      }
    }
  }
  rect.eg-barA{
    /*fill: rgba(200,200,200,0.35);
    stroke: #000;
    stroke-width: 0.5px;*/
    opacity: 0.8;
  }
  rect.eg-barB{
    fill: #F7D841;
  }
  rect.eg-barC{
    opacity:0.8;
    &.eg-proj{
      fill-opacity:.15;
      stroke: #dedede;
      stroke-dasharray: 10 4;
      display: none; // esconder projeção, conforme revisão
    }
  }
  rect.eg-barD{
    &.eg-proj{
      fill: none;
    }
  }

  rect.handle{
    fill: $color1;
    stroke-width: 1;
    color: transparent;
    outline: none;
    stroke: #000;
  }

  rect.selection{
    stroke: #000;
    stroke-width: 1;
  }
}

#svg-budget-1{
  path{
    cursor: pointer;
  }
  rect.node{
    fill: $color1;
    opacity: 0.75;
    transition: opacity 0.5s;

    &.active{
      opacity: 1;
    }
    &.inactive{
      fill: #dedede;
      opacity: 0.5;
    }
  }
  text.label{
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;

    &.active{
      opacity: 1;
    }

    &.visible{
      opacity: 1;
      font-size: 13px;

      @media (max-width: 480px){
        font-size: 9px;
      }
    }
    &.visible.inactive{
      opacity: 0;
    }
  }
  path.link{
    stroke: rgba(50,50,65,1);
    opacity: .7;
    transition: stroke opacity 0.5s;

    &.active{
      stroke: rgba(100,100,115,1);
      opacity: .7;
    }
    &.inactive{
      stroke: rgba(50,50,65,1);
      opacity: .4;
    }
  }

  .bdgBarLeg{
    font-size:11px;
    text-transform: uppercase;
  }
}
.prompt{
  background: rgba(20,20,20,1);
  z-index:10;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #333;
  position: absolute;
  top:0;
  left: 0;
  display: none;

  &.active{
    display: block;
  }

  button{
    font-size: .9rem;
    line-height: 1.1rem;
    width: 60px;
    display: inline-block;
    position: relative;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    background: rgba(0,0,0,1);
    color: #fff;
    border: 1px solid #555;

    &:focus{
      box-shadow: none;
    }
  }

  span{
    font-size: .9rem;
    line-height: 1.6rem;
    width: 95%;
    max-width: 420px;
    display: block;
    letter-spacing: 0.01em;
    color: #999;

    position: relative;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background: rgba(30,30,30,.95);
    border: 1px solid #000;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }
}
.tooltip{
  background: #fff;
  color: #000;
  border-radius: 4px;
  font-size: 11px;
  font-weight: 400;
  min-height: 20px;
  min-width: 120px;
  max-width: 300px;
  overflow: auto;
  position: absolute;
  padding: 10px;
  text-align: left;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 15px;
  opacity: 0;
  display: none;
  pointer-events: none;

  .centered{
    text-align: center;
  }

  b{
    color: #000;
  }

  &.active{
    opacity: 1;
    display: block;
  }

  span{
    color: #777;
    font-size: 18px;
    font-weight:700;
    display: block;
    margin-top: 4px;

    &.sq{
      width: 10px;
      height: 10px;
      border: 1px solid rgba(0,0,0,0.6);
      border-radius: 2px;
      display: inline-block;
      vertical-align: middle;
      background: #ddd;
      margin: 0 0 2px 5px;

      &:first-of-type{
        margin: 0 0 2px 0;
      }

      &.gb{ background: #777; opacity:.6 }
      &.gn{ background: #D33145; opacity:.9 }
      &.gi{ background: #5AB755; opacity:.9 }
      &.ga{ background: #F7D841; opacity:.9 }
    }
  }
}

.return-button{
  background: transparent url("../images/return-b.svg") no-repeat center;
  background-size: 100% auto;
  border: 0;
  padding: 0;
  cursor: pointer;

  &:focus{
    box-shadow: 0;
    outline: none;
  }
}

#budget1-container{
  .return-button{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 50%;
    top: 50%;
    display: none;
    pointer-events: none;

    transform: translate(-50%, -50%);

    &.active{
      display: block;
    }
  }
}

/* selects */
.selector-group{
  width: 100%;
  max-width: 800px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: block;
  position: relative;
  padding: 0 0 0 0;
  z-index:11;

  .select{
    width: calc((100% - 40px)/3);
    margin: 0 20px 5px 0;
    position: relative;
    background: rgba(50,50,50,0.8);
    font-size: 1rem;
    font-family: Helvetica, Arial, sans-serif;
    display: inline-block;
    text-align: left;
    border-radius: 5px;

    &.hidden{
      display: none;
    }

    cursor: pointer;

    @media (max-width:480px){
      margin: 5px 0;
    }

    &:last-of-type{
      margin-right: 0px;
    }

    select{
      width: 100%;
      display: none;
    }

    .selected{
      background: rgba(35,35,35,0.6);
      border: 1px solid #000;
      border-radius: 5px;
      padding: 12px 10px 15px 10px;
      line-height: 1.2rem;
      height: 45px;

      &:hover{
        background: rgba(70,70,70,0.8);
        border: 1px solid rgba(110,110,110,0.8);
      }

      &:after{
        position: absolute;
        content: "";
        top: 17px;
        right: 10px;
        width: 0;
        height: 0;
        border: 5px solid transparent;
        border-color: #fff transparent transparent transparent;
      }

      &.arrow-active:after{
        border-color: transparent transparent #fff transparent;
        top: 7px;
      }
    }

    .select-items {
      position: absolute;
      background: rgba(30,30,30,0.9);
      border-radius: 5px;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 99;

      div{
        padding: 15px 10px;
        border-radius: 5px;
      }
    }

    .select-hide {
      display: none;
    }

    .select-items div:hover, .same-as-selected {
      background-color: rgba(55, 55, 55, 0.6);
    }

    @media (max-width:480px){
      width: 100%;
    }
  }

}

/**
 * Fontes e observações sobre os gráficos
 *
 */
.chart-info, .chart-source {
  font-size: .75rem;
  line-height: 1.2rem;
  opacity: 0.6;
  margin: 0;
  text-align: left;
}
.pr-note{
  opacity: 0;
  &.block{
    display: block;
  }
  &.active{
    opacity: 1;
  }
}
